.jumbotron{
    background-color:#3F3FBF;
    margin-top: 50px;
    color: white;
}
.btn{
    background-color: black;
    color: white;
}
footer{
    background-color: lightblue;
    color: black;
    width: 100%;
    margin-top: 40px;
}
body{
    background-color: white;
    color: black;
}
/* cuando colocamos la propiedad flex 1 le decimos que crezca 1 vez mas lo que queremos que crezca en % */
.card-hotel{
    flex: 1 250px ;
    margin-top: 10px;
}
.btn-reserva{
    width: 100%;
    border-radius: 0px;
}
.img-fluid{
    width: 100%;
    height: 400px;
}
.tab-content{
    padding-top: 10px;
}